body{
font-family:"Segoe UI",Arial;
text-align:center;
background:#f4f4f4;
color:#111;
transition:background 0.5s,color 0.5s;
}

/* DARK MODE */

body.dark{
background:#121212;
color:white;
}

/* IMAGE */

#img{
width:1200px;
display:block;
border-radius:8px;
}

/* GAME */

#game{
position:relative;
display:inline-block;
}

#inputs{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

/* INPUTS */

input{
position:absolute;
width:42px;
height:14px;
font-size:9px;
text-align:center;
border:1px solid #999;
border-radius:4px;
box-sizing:border-box;
padding:0;
background:white;
color:black;
outline:none;
transition:all .25s;
}

input:focus{
border-color:black;
}

body.dark input{
background:#2a2a2a;
border:1px solid #666;
color:white;
}

/* BUTTONS */

#controls{
margin-top:20px;
}

button{
padding:12px 26px;
margin:10px;
font-size:16px;
cursor:pointer;

border-radius:8px;
border:2px solid transparent;

background:#eee;
color:#111;

transition:all .25s;
}

button:hover{
background:black;
color:white;
}

body.dark button{
background:#2b2b2b;
color:white;
}

body.dark button:hover{
background:#ff7a00;
color:white;
}

/* SCORE */

#score{
font-size:22px;
margin:12px;
}

/* THEME BUTTON */

#themeToggle{
position:fixed;
top:15px;
left:15px;
width:36px;
height:36px;
cursor:pointer;
}

#themeToggle svg{
position:absolute;
width:100%;
height:100%;
fill:black;
stroke:black;
transition:opacity .4s, transform .4s;
}

body.dark #themeToggle svg{
fill:white;
stroke:white;
}

#moonIcon{
opacity:0;
transform:rotate(-90deg);
}

body.dark #sunIcon{
opacity:0;
transform:rotate(90deg);
}

body.dark #moonIcon{
opacity:1;
transform:rotate(0deg);
}

/* MENU BUTTON */

#menuButton{
position:fixed;
top:15px;
right:15px;
width:32px;
height:22px;
cursor:pointer;
display:flex;
flex-direction:column;
justify-content:space-between;
}

#menuButton span{
display:block;
height:3px;
background:black;
border-radius:2px;
transition:.3s;
}

body.dark #menuButton span{
background:white;
}

/* MENU PANEL */

#menuPanel{
position:fixed;
top:55px;
right:15px;
background:white;
padding:10px;
border-radius:8px;
box-shadow:0 4px 15px rgba(0,0,0,.2);
display:none;
}

body.dark #menuPanel{
background:#2a2a2a;
}

#menuPanel button{
margin:0;
font-size:14px;
padding:8px 14px;
}
