body{
font-family:"Segoe UI",Arial;
text-align:center;
background:#f4f4f4;
color:#111;
transition:background .5s,color .5s;
}

body.dark{
background:#121212;
color:white;
}

#img{
width:1200px;
display:block;
border-radius:10px;
}

#game{
position:relative;
display:inline-block;
}

#inputs{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

/* INPUTS */

input{
position:absolute;
width:42px;
height:14px;
font-size:9px;
text-align:center;
border:1px solid #999;
border-radius:4px;
box-sizing:border-box;
padding:0;
background:white;
color:black;
outline:none;
transition:.25s;
}

body.dark input{
background:#2a2a2a;
border:1px solid #666;
color:white;
}

/* BUTTONS */

#controls{
margin-top:20px;
}

button{
padding:14px 28px;
margin:12px;
font-size:16px;
cursor:pointer;
border-radius:8px;
border:2px solid transparent;
background:#eaeaea;
color:#111;
transition:all .25s;
}

button:hover{
background:black;
color:white;
transform:translateY(-2px);
}

body.dark button{
background:#2b2b2b;
color:white;
}

body.dark button:hover{
background:#e28a3b;
}

/* SCORE */

#score{
font-size:22px;
margin:12px;
}

/* THEME BUTTON */

#themeToggle{
position:fixed;
top:15px;
left:15px;
width:38px;
height:38px;
cursor:pointer;
transition:transform .25s;
}

#themeToggle:hover{
transform:scale(1.15);
}

#themeToggle svg{
position:absolute;
width:100%;
height:100%;
fill:black;
stroke:black;
transition:opacity .4s, transform .4s;
}

body.dark #themeToggle svg{
fill:white;
stroke:white;
}

#moonIcon{
opacity:0;
transform:rotate(-90deg);
}

body.dark #sunIcon{
opacity:0;
transform:rotate(90deg);
}

body.dark #moonIcon{
opacity:1;
transform:rotate(0deg);
}

/* MENU */

#menuButton{
position:fixed;
top:15px;
right:15px;
width:34px;
height:24px;
cursor:pointer;
display:flex;
flex-direction:column;
justify-content:space-between;
}

#menuButton span{
display:block;
height:3px;
background:black;
border-radius:2px;
transition:.25s;
}

body.dark #menuButton span{
background:white;
}

#menuButton:hover span{
background:#555;
}

body.dark #menuButton:hover span{
background:#e28a3b;
}

/* MENU PANEL */

#menuPanel{
position:fixed;
top:55px;
right:15px;
background:white;
padding:12px;
border-radius:10px;
box-shadow:0 6px 18px rgba(0,0,0,.25);
opacity:0;
transform:translateY(-10px);
pointer-events:none;
transition:.3s;
}

#menuPanel.open{
opacity:1;
transform:translateY(0);
pointer-events:auto;
}

body.dark #menuPanel{
background:#2a2a2a;
}
